<div class="max-w-7xl mx-auto px-4 sm:px-8">
    <!-- Header Section -->
    Sme malá firma zaoberajúca sa reštaurovaním historických bicyklov

    <h2>Kontaktujte nás</h2>

    <div id="bike-contact" class="container mx-auto p-6 max-w-5xl">
        <form hx-post="/user/contact/about" hx-target="#success-area" hx-target-error="#error-area" class="bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h2 class="block text-gray-300 text-xl font-bold mb-2 text-center">Kontaktujte nás</h2>
            {% include "components/form.html" %}
        </form>
    </div>

</div>