<div class="w-full h-full rounded-lg overflow-hidden border border-gray-300 flex flex-col transition-all duration-300 items-center hover:shadow-md hover:border-gray-500">
    <div class="px-4 py-2 flex flex-col w-full h-full text-center bg-gray-100 rounded-lg">
        <!-- Bike Image -->
        <div class="w-48 h-48 mx-auto">
            <img class="rounded-lg object-cover w-full h-full" src="{{ bike.thumbnail }}" alt="Bike Image">
        </div>

        <!-- Bike Name -->
        <div class="font-semibold text-lg text-gray-800 mt-4">
            {{ bike.name }}
        </div>

        <!-- Hidden Status -->
        {% if bike.hidden %}
        <div class="mt-2">
                <span class="text-sm bg-orange-200 text-orange-600 py-1 px-3 rounded-full uppercase tracking-wide">
                    Hidden
                </span>
        </div>
        {% endif %}
    </div>
</div>