<a class="book-info-link cursor-pointer" href="/bike/{{ bike.id }}">
<div class="w-full h-full rounded-lg overflow-hidden border border-gray-300 flex flex-col transition-all duration-300 items-center hover:shadow-md hover:border-gray-500">
    <div class="px-4 py-2 flex flex-col w-full h-full text-center bg-gray-100 rounded-lg">
        <!-- Bike Image -->
        <div class="w-48 h-48 mx-auto">
            <img class="rounded-lg object-cover w-full h-full" src="{{ bike.thumbnail }}" alt="Bike Image">
        </div>

        <!-- Bike Name -->
        <div class="font-semibold text-lg text-gray-800 mt-4">
            {{ bike.name }}
        </div>

        <!-- Hidden Status -->
        {% if bike.hidden %}
        <div class="mt-2">
                <span class="text-xs bg-amber-500 text-amber-800 py-1 px-3 rounded-lg uppercase tracking-wide">
                    Skrytý
                </span>
        </div>
        {% endif %}
    </div>
</div>
</a>