<div class="container h-full w-full  p-4 bg-white">
    <div class="max-w-full max-h-full h-full rounded overflow-hidden border border-gray-800 flex flex-col transition duration-500 items-center hover:shadow-sm hover:shadow-gray-500 hover:border-gray-500">
        <div class="px-4 py-2 flex flex-col w-full h-full text-center">
                <div class="w-48 h-48 mx-auto relative">
                    <img class="responsive-image w-full h-full" src="{{ bike.thumbnail }}" alt="bike Image">
                </div>
                <div class="font-bold text-lg text-black mb-2">
                    {{ bike.name }}
                </div>
                <div class="w-full flex flex-col justify-between mt-auto mb-2">
                    <div class="flex flex-row justify-between">
                        {% if bike.hidden %}
                        <p class="text-red-400 text-sm">hidden</p>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>
</div>