@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl font-semibold mb-6;
    }
    h2 {
        @apply text-3xl font-medium mb-5;
    }
    h3 {
        @apply text-2xl font-medium mb-4;
    }
    h4 {
        @apply text-xl font-medium mb-3;
    }
    h5 {
        @apply text-lg font-medium mb-2;
    }
    h6 {
        @apply text-base font-medium mb-1;
    }
    p {
        @apply text-base leading-relaxed mb-4 text-justify;
    }
    a {
        @apply text-amber-500 hover:text-amber-600 transition-colors;
    }
    ul {
        @apply list-disc pl-6 mb-4;
    }
    ol {
        @apply list-decimal pl-6 mb-4;
    }
    li {
        @apply mb-2;
    }
    blockquote {
        @apply border-l-4 border-gray-300 pl-4 italic text-gray-600 mb-4;
    }
    pre {
        @apply bg-gray-100 text-sm p-4 rounded-lg overflow-x-auto mb-4;
    }
    code {
        @apply bg-gray-200 text-sm px-1 py-0.5 rounded;
    }
}

.image-container {
    width: 100%; /* Set the width of the container */
    max-width: 320px;
    margin-left: 0;
}

.responsive-image {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.custom-form {
    max-width: 100%;
    width: 100%;
}

.custom-bg-50 {
    @apply bg-stone-50;
}

.custom-bg-100 {
    @apply bg-stone-100;
}

.custom-bg-200 {
    @apply bg-stone-200;
}

.custom-bg-400 {
    @apply bg-stone-400;
}

.custom-bg-500 {
    @apply bg-stone-500;
}

.custom-bg-600 {
    @apply bg-stone-600;
}

.custom-bg-700 {
    @apply bg-stone-700;
}

.custom-bg-800 {
    @apply bg-stone-800;
}

.custom-bg-acc-50 {
    @apply bg-amber-50;
}

.custom-bg-acc-100 {
    @apply bg-amber-100;
}

.custom-bg-acc-200 {
    @apply bg-amber-200;
}

.custom-bg-acc-400 {
    @apply bg-amber-400;
}

.custom-bg-acc-500 {
    @apply bg-amber-500;
}

.custom-bg-acc-600 {
    @apply bg-amber-600;
}

.custom-bg-acc-700 {
    @apply bg-amber-700;
}

.custom-bg-acc-800 {
    @apply bg-amber-800;
}


/*accent color on hover*/
.custom-bg-acc-hover-50 {
    @apply hover:bg-amber-50;
}

.custom-bg-acc-hover-100 {
    @apply  hover:bg-amber-100;
}

.custom-bg-acc-hover-200 {
    @apply  hover:bg-amber-200;
}

.custom-bg-acc-hover-400 {
    @apply  hover:bg-amber-400;
}

.custom-bg-acc-hover-500 {
    @apply  hover:bg-amber-500;
}

.custom-bg-acc-hover-600 {
    @apply  hover:bg-amber-600;
}

.custom-bg-acc-hover-700 {
    @apply  hover:bg-amber-700;
}

.custom-bg-acc-hover-800 {
    @apply  hover:bg-amber-800;
}

/*accent text*/
.custom-text-acc-500 {
    @apply  text-amber-500;
}

.custom-text-acc-600 {
    @apply  text-amber-600;
}

.custom-text-acc-hover-500 {
    @apply  hover:text-amber-500;
}

.custom-text-acc-hover-600 {
    @apply  hover:text-amber-600;
}