<div class="max-w-7xl mx-auto px-4 sm:px-8 mb-8">
    <!-- Hero Section -->
    <section class="text-center py-12 mb-3">
        <h1 class="text-5xl font-extrabold text-gray-800 mb-4">Selling Exclusive Vintage Bikes</h1>
        <p class="text-lg text-gray-700">
            Restoring vintage bicycles is an art that combines craftsmanship, history, and passion. Our collection
            features bikes from iconic brands like Colnago, Bianchi, and Peugeot, preserving their historical value and
            timeless elegance.
        </p>
        <a href="/bike">
            <button class="bg-amber-500 hover:bg-amber-600 text-white mt-6 font-bold py-3 px-4 rounded focus:outline-none focus:shadow-outline">
                Explore Our Bikes
            </button>
        </a>
    </section>

    <!-- About Section -->
    <section class="mb-12">
        <h2 class="text-3xl font-bold text-gray-800 mb-4">Why Vintage Bikes?</h2>
        <p class="text-gray-700 leading-relaxed">
            Vintage bicycles are more than just a mode of transport—they are a legacy of engineering and design. Bikes
            from the 70s and 80s are valued for their combination of craftsmanship and functionality, making them
            timeless treasures.
        </p>
        <p class="text-gray-700 leading-relaxed mt-4">
            Our bikes honor this tradition, offering a unique cycling experience that connects you with history. Check
            out our limited collection on <a href="https://www.ebay.com/str/alemavintagebike"
                                             class="text-amber-500 hover:text-amber-600 underline">eBay</a> or explore
            more here.
        </p>
    </section>

    <!-- Popular Bikes Section -->
    <section class="mb-12">
        <h2 class="text-3xl font-bold text-gray-800 mb-4">Most Popular</h2>
        <div class="bg-white rounded-lg p-6 shadow-md">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
                {% for bike in bikes %}
                {% include "bike/card/content.html" %}
                {% endfor %}
            </div>

            <a href="/bike" class="block text-center mt-4 text-amber-500 hover:text-amber-600 font-semibold">
                Explore all bikes here
            </a>
        </div>
    </section>

    <section class="mb-12">
        {% set paths = ["/static/images/home-colnago1.jpg", "/static/images/home-colnago2.jpg",
        "/static/images/home-colnago3.jpg", "/static/images/home-colnago4.jpg"] %}
        <div class="bg-white rounded-lg p-6 shadow-md">
            <h2 class="text-3xl font-bold text-gray-800 mb-4">Our Bikes</h2>
            <div class="pswp-gallery" id="bike-detail-gallery">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
                    {% for path in paths %}
                    <a href="{{ path }}">
                        <div class="w-full h-80 rounded-lg overflow-hidden shadow-md hover:scale-105 transition-transform">
                            <img class="object-cover w-full h-full" src="{{ path }}" alt="Bike Image">
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- Informational Section -->
    <section class="bg-gray-50 p-6 rounded-lg shadow-md">
        <h2 class="text-3xl font-bold mb-4">Historical Bicycles and the Legend of Colnago</h2>
        <p class="leading-relaxed">
            Historical bicycles are more than means of transportation – they reflect engineering skill, cultural shifts,
            and
            artistic value. These machines, developed since the early 19th century, carry the stories of their time on
            their
            frames. From simple wooden bikes with solid wheels to sophisticated steel frames of the 70s and 80s – every
            era
            brought advancements that shaped cycling.
        </p>
        <h3 class="text-2xl font-semibold mt-6 mb-2">Heritage and Innovation</h3>
        <p class="leading-relaxed">
        <p>In the 20th century, especially between 1970 and 1990, cycling became not just a sport but a lifestyle. Bikes
            from this period are valued for their combination of craftsmanship and functionality. Steel frames,
            hand-brazed
            joints, unique geometries, and innovative components turned vintage bicycles into treasures that still hold
            high
            value today.</p>

        <p>Bikes from this era were used not only for racing but also for recreational cycling. Brands like Bianchi,
            Peugeot, and Colnago were industry leaders, each bringing something unique. The most notable was the Italian
            brand Colnago, whose bold innovations and aesthetic sense influenced the entire cycling world.</p>
        <p class="mt-4 inline-block">
            Learn more about Colnago on their <a href="https://www.colnago.com/" target="_blank"
                                                 class="text-blue-600 underline">website</a>
        </p>
        <p class="mt-4 inline-block">or on the <a href="https://www.bikeradar.com/" target="_blank"
                                                  class="text-blue-600 underline">BikeRadar</a></p>.
    </section>
</div>

<script type='module'>
    import PhotoSwipeLightbox from '/static/photoswipe/photoswipe-lightbox.esm.js';

    const lightbox = new PhotoSwipeLightbox({
        gallery: '#index-our-detail',
        children: 'a',
        pswpModule: () => import('/static/photoswipe/photoswipe.esm.js')
    });
    lightbox.init();
</script>