<div id="bike-contact" class="container mx-auto p-6 max-w-5xl">
  <form hx-post="/user/contact" hx-target="#success-area" hx-target-error="#error-area" class="bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="block text-gray-300 text-xl font-bold mb-2 text-center">Kontaktujte nás</h2>
    <label>
      <input class="hidden" name="bike_id" type="text" value="{{ bike.id }}">
    </label>
    <div class="mb-4">
      <label class="block text-gray-300 text-sm font-bold mb-2" for="bike-contact-name">
        Meno a priezvisko
      </label>
      <input name="name"
             class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="bike-contact-name" type="text" placeholder="Meno a priezvisko">
    </div>

    <div class="mb-4">
      <label class="block text-gray-300 text-sm font-bold mb-2" for="bike-contact-email">
        Email
      </label>
      <input name="from"
             class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="bike-contact-email" type="email" placeholder="Email">
    </div>

    <div class="mb-4">
      <label class="block text-gray-300 text-sm font-bold mb-2" for="bike-contact-tel">
        Telefónne číslo
      </label>
      <input name="tel"
             class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="bike-contact-tel" type="text" placeholder="Telefónne číslo">
    </div>

    <div class="mb-4">
      <label class="block text-gray-300 text-sm font-bold mb-2" for="bike-contact-message">
        Správa
      </label>
      <input name="message"
             class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="bike-contact-message" type="text" placeholder="Správa">
    </div>
    <div class="flex justify-center">
      <button hx-target="#content-area"
              class="bg-amber-500 hover:bg-amber-600 rounded-md p-3 px-6 text-white text-lg shadow-md"
              type="submit">
        Poslať
      </button>
    </div>
    <div id="success-area" class="text-green-500 mt-4 text-center">
    </div>
    <div id="error-area" class="text-red-500 mb-3 text-center">
    </div>
  </form>
</div>