<div class="flex mt-3 items-center mb-3 flex-row justify-between">
    <h2 class="text-2xl font-bold pt-4 mb-4">Model</h2>
    <div class="mr-4">
        <button hx-get="/model/{{ model.id }}/edit" hx-target-error="#content-area"
                hx-push-url="/model/{{ model.id }}/edit" hx-target="#content-area"
                class="bg-cyan-950 rounded-md p-3 text-xl hover:bg-blue-300 mr-2">
            <i class="fa-solid fa-pencil text-white"></i>
        </button>
        <button class="bg-cyan-950 rounded-md p-3 text-xl hover:bg-blue-300 mr-2"
                hx-target-error="#content-area"
                hx-delete="/model/{{ model.id }}/delete" hx-target="#content-area">
            <i class="fa-solid fa-trash text-white"></i>
        </button>
    </div>
</div>
<div class="w-full h-full">
    <h2 class="text-6xl font-bold mb-6 pl-10">
        {{ model.brand_name }} {{ model.name }}
    </h2>
    <div class="text-center text-lg font-bold text-black">Description: {{ model.description }}</div>
    <div class="pl-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        {% for bike in bikes %}
        {% include "bike/box/content.html" %}
        {% endfor %}
    </div>
</div>

