
{% if logged_in %}
<div class="flex justify-between items-center py-6 px-10 bg-gray-100 border-b border-gray-300">
    <div class="flex space-x-4">
        <button hx-get="/model/{{ model.id }}/edit" hx-target-error="#content-area"
                hx-push-url="/model/{{ model.id }}/edit" hx-target="#content-area"
                class="bg-blue-500 hover:bg-blue-600 rounded-md p-3 text-white text-lg shadow-md">
            <i class="fa-solid fa-pencil"></i>
        </button>
        <button hx-delete="/model/{{ model.id }}/delete" hx-target-error="#content-area" hx-target="#content-area" hx-push-url="/model"
                class="bg-red-600 hover:bg-red-600 rounded-md p-3 text-white text-lg shadow-md">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</div>
{% endif %}

<div class="container mx-auto py-10 px-5">
    <!-- Top Section: Thumbnail and Basic Details -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">

        <!-- Brand Details -->
        <div class="flex flex-col space-y-6">
            <h1 class="text-4xl font-bold text-gray-800">{{ model.name }}</h1>

            <div>
                <h2 class="text-2xl font-semibold text-gray-700">Brand</h2>
                <a class="text-lg text-blue-500 hover:underline" hx-get="/brand/{{ model.brand_id }}" hx-target="#content-area" hx-push-url="/brand/{{ model.brand_id }}">
                    {{ model.brand_name }}
                </a>
            </div>
        </div>


    </div>

    <!-- Description Section -->
    <div class="mt-10">
        <h2 class="text-2xl font-bold mb-4">Description</h2>
        <div class="bg-gray-50 p-5 rounded-lg shadow-md text-gray-700">
            {{ model.description | safe }}
        </div>
    </div>
</div>
<div class="pl-10 grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-4">
    <div class="bg-gray-50 rounded-lg p-6 shadow-md">
        <h3 class="text-3xl font-bold text-gray-800 mb-4">Bikes</h3>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-6">
            {% for bike in bikes %}
            {% include "bike/box/content.html" %}
            {% endfor %}
        </div>
    </div>
</div>



