<div class="max-w-7xl mx-auto px-4 sm:px-8 mt-6">
    <!-- Top Section: Thumbnail and Basic Details -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-10">
        <!-- Thumbnail -->
        <div class="flex flex-col items-center relative">
            <div id="bike-thumbnail-box" class="inline-block group">
                <div class="w-full h-96 sm:w-full sm:h-96 rounded-lg border shadow-md sm:mt-4 relative">
                    <img class="responsive-image rounded-lg" src="{{ bike.thumbnail }}"
                         alt="Bike Thumbnail">
                    {% if logged_in %}
                    {% include "bike/admin/thumbnail/detail/content.html" %}
                    {% endif %}
                </div>
            </div>
            <div class="flex items-center justify-center mt-5 text-gray-600 space-x-3">
                <i class="fa-solid fa-eye text-2xl"></i>
                <span class="text-2xl">{{ bike.view_count }}</span>
            </div>
        </div>

        <!-- Bike Details -->
        <div class="items-center flex sm:justify-start flex-col space-y-6 text-center">
            <h1 class="text-xl sm:text-2xl lg:text-3xl xl:text-4xl font-bold text-gray-800 text-center ">{{
                bike.name }}</h1>
            <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
                <div>
                    <h2 class="text-2xl font-semibold text-gray-700 text-center">Brand</h2>
                    <a class="hover:bg-slate-200 text-gray-800 hover:text-amber-700 font-medium text-lg rounded-md px-4 py-2 shadow-md cursor-pointer"
                       hx-get="/brand/{{ bike.brand_id }}"
                       hx-target="#content-area"
                       hx-push-url="/brand/{{ bike.brand_id }}">
                        {{ bike.brand_name }}
                    </a>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold text-gray-700 text-center">Model</h2>
                    <a class="hover:bg-slate-200 text-gray-800 hover:text-amber-700 font-medium text-lg rounded-md px-4 py-2 shadow-md cursor-pointer"
                       hx-get="/model/{{ bike.model_id }}"
                       hx-target="#content-area" hx-push-url="/model/{{ bike.model_id }}">
                        {{ bike.model_name }}
                    </a>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold text-gray-700 text-center">Year</h2>
                    <a class="hover:bg-slate-200 text-gray-800 hover:text-amber-700 font-medium text-lg rounded-md px-4 py-2 shadow-md cursor-pointer">
                        {{ bike.year }}
                    </a>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold text-gray-700 text-center">Price</h2>
                    <a class="hover:bg-slate-200 text-gray-800 hover:text-amber-700 font-medium text-lg rounded-md px-4 py-2 shadow-md cursor-pointer">
                        {{ bike.price }} €
                    </a>
                </div>
            </div>
            <div class="h-2"></div> <!-- Spacer element for vertical spacing -->
            {% if logged_in %}
            <div class="flex justify-center items-center">
                <div class="flex space-x-4">
                    <button hx-get="/bike/{{ bike.id }}/edit" hx-target-error="#content-area"
                            hx-push-url="/bike/{{ bike.id }}/edit"
                            hx-target="#content-area"
                            class="bg-amber-500 hover:bg-amber-600 rounded-md p-3 text-white text-lg shadow-md w-12">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button hx-get="/bike/{{ bike.id }}/reupload" hx-target-error="#content-area"
                            hx-target="#content-area"
                            class="bg-amber-500 hover:bg-amber-600 rounded-md p-3 text-white text-lg shadow-md w-12">
                        <i class="fa-solid fa-upload"></i>
                    </button>
                    <button hx-get="/bike/{{ bike.id }}/clone" hx-target-error="#content-area" hx-push-url="/bike"
                            hx-target="#content-area"
                            class="bg-amber-500 hover:bg-amber-600 rounded-md p-3 text-white text-lg shadow-md w-12">
                        <i class="fa-solid fa-clone"></i>
                    </button>
                    {% if bike.hidden %}
                    <button hx-put="/bike/{{ bike.id }}/restore" hx-target-error="#content-area"
                            hx-target="#content-area"
                            class="bg-lime-700 hover:bg-lime-800 rounded-md p-3 text-white text-lg shadow-md w-12">
                        <i class="fa-solid fa-rotate-right"></i>
                    </button>
                    <button hx-delete="/bike/{{ bike.id }}/delete" hx-target-error="#content-area"
                            hx-target="#content-area" hx-push-url="/bike"
                            class="bg-red-800 hover:bg-red-900 rounded-md p-3 text-white text-lg shadow-md w-12">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    {% else %}
                    <button hx-delete="/bike/{{ bike.id }}/hide" hx-target-error="#content-area"
                            hx-target="#content-area"
                            class="bg-amber-500 hover:bg-amber-600 rounded-md p-3 text-white text-lg shadow-md w-12">
                        <i class="fa-solid fa-eye-slash"></i>
                    </button>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="mt-10 mx-auto container">
        <button id="contact-us-btn"
                class="bg-amber-500 hover:bg-amber-600 mx-auto rounded-md p-3 block text-white text-lg shadow-md">
            Contact Us To Buy
        </button>

        <div id="contact-form-container" class="hidden mt-6">
            {% include "user/contact/content.html" %}
        </div>
    </div>

    <!-- Description Section -->
    <div class="mt-10">
        <h2 class="text-2xl font-bold mb-4">Description</h2>
        <div class="bg-gray-50 p-5 rounded-lg shadow-md text-gray-700">
            {{ bike.description | safe }}
        </div>
    </div>

    <!-- Specification Section -->
    <div class="mt-10">
        <h2 class="text-2xl font-bold mb-4">Specifications</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Frame</span>
                <span class="text-gray-600">{{ bike.frame }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Seat Tube Sizes</span>
                <span class="text-gray-600">{{ bike.seat_tube_sizes }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Top Tube Size:</span>
                <span class="text-gray-600">{{ bike.top_tube_size }} cm</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Height</span>
                <span class="text-gray-600">{{ bike.height }} cm</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Headset</span>
                <span class="text-gray-600">{{ bike.headset }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Crankset</span>
                <span class="text-gray-600">{{ bike.crankset }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Bottom Bracket</span>
                <span class="text-gray-600">{{ bike.bottom_bracket }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Front Derailleur</span>
                <span class="text-gray-600">{{ bike.front_derail }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Rear Derailleur</span>
                <span class="text-gray-600">{{ bike.rear_derail }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Brakes</span>
                <span class="text-gray-600">{{ bike.brakes }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Shifters</span>
                <span class="text-gray-600">{{ bike.shifters }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Brake Levers</span>
                <span class="text-gray-600">{{ bike.brake_levers }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Saddle</span>
                <span class="text-gray-600">{{ bike.saddle }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Seat Post</span>
                <span class="text-gray-600">{{ bike.seat_post }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Hubs</span>
                <span class="text-gray-600">{{ bike.hubs }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Rims</span>
                <span class="text-gray-600">{{ bike.rims }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Handlebar</span>
                <span class="text-gray-600">{{ bike.handlebar }}</span>
            </div>
            <div class="bg-gray-100 p-1 rounded-lg shadow items-center flex sm:justify-start flex-col space-y-1">
                <span class="font-semibold text-gray-700">Stem</span>
                <span class="text-gray-600">{{ bike.stem }}</span>
            </div>
        </div>
    </div>


    <!-- Images Section -->
    <div class="mt-10">
        <h2 class="text-2xl font-bold mb-4">Images</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for path in bike_images %}
            <a href="{{ path }}">
                <div class="w-full h-80 rounded-lg overflow-hidden shadow-md">
                    <img class="responsive-image object-cover w-full h-full" src="{{ path }}" alt="Bike Image">
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>


<script>
    document.getElementById('contact-us-btn').addEventListener('click', () => {
        const contactForm = document.getElementById('contact-form-container');
        contactForm.classList.toggle('hidden'); // Toggles the 'hidden' class
    });
</script>