<div class="container pl-10 pt-10 pb-10">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
        <div class="mb-4 sm:mb-0 xl:col-span-1">
            <div class="w-25 h-25 md:w-40 md:h-40 lg:w-80 lg:h-80 overflow-hidden">
                <img class="responsive-image bg-blue-600 w-full h-full sm:h-mr-10" src="{{ bike.thumbnail }}" alt="book-cover">
            </div>
            <div class="flex flex-row mt-5 justify-between">
                <button hx-patch="/bike/{{bike.id}}/likes" hx-target="#like-count" hx-swap="outerHTML" hx-target-error="#content-area">
                    <div id="like-count" class="flex items-center pl-5 text-3xl">

                    </div>
                </button>
                <div id="view-count" class="flex items-center pl-5 text-3xl">
                    <i class="fa-solid fa-eye text-3xl"></i> <p class="pl-5 text-gray-300 text-2xl">{{ bike.view_count }}</p>
                </div>

            </div>
        </div>
        <div class="mb-4 sm:ml-0 xl:ml-10 sm:mb-0 xl:col-span-1">
            <div class="flex flex-row justify-between">
                <div class="flex flex-col">
                    <div class="book-name  text-6xl font-bold">{{bike.name}}</div>
                </div>
            </div>
            <div class="pt-5 items-center">
                <div class="w-auto h-10 md:h-12 lg:h-24 pt-1 md:pt-2 lg:pt-8">
                    <a class="cursor-pointer text-3xl pl-5" hx-get="/brand/{{ bike.brand_id }}/detail" hx-target="#content-area"
                       hx-push-url="/brand/{{ bike.brand_id }}/detail">
                        {{ bike.brand_name }}
                    </a>
                </div>
            </div>
            <div class="pt-5 items-center">
                <div class="w-auto h-10 md:h-12 lg:h-24 pt-1 md:pt-2 lg:pt-8">
                    <a class="cursor-pointer text-3xl pl-5" hx-get="/model/{{ bike.model_id }}/detail" hx-target="#content-area"
                       hx-push-url="/model/{{ bike.model_id }}/detail">
                        {{ bike.model_name }}
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="flex flex-col justify-between pt-4 overflow-hidden">
        <h2 class="text-2xl font-bold mb-4">Description</h2>
        {{bike.description | safe }}
    </div>
    <div class="flex flex-col justify-between pt-4 overflow-hidden">
        <h2 class="text-2xl font-bold mb-4">Images</h2>
        {% for path in bike_images %}
        <img class="responsive-image bg-blue-600 w-full h-full sm:h-mr-10" src="{{ path }}" alt="book-cover">
        {% endfor %}
    </div>
</div>