<div class="container mx-auto p-6 max-w-7xl">
    <form hx-post="/bike/edit" hx-push-url="/bike/{{ bike.id }}" hx-target="#content-area"
          hx-target-error="#content-area" class="mb-4 rounded bg-gray-800 px-8 pb-8 pt-6 shadow-md">
        <h2 class="mb-2 block text-center text-xl font-bold text-gray-300">Edit Bike</h2>
        <input class="hidden" name="bike_id" value="{{bike.id}}">
        <div class="mb-4">
            <label class="mb-2 block text-sm font-bold text-gray-300" for="bike-name"> Názov </label>
            <input name="name"
                   class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
                   id="bike-name" type="text" value="{{bike.name}}"/>
        </div>

        <!--        <div class="mb-4">-->
        <!--            <label class="mb-2 block text-sm font-bold text-gray-300" for="brand"> Brand </label>-->
        <!--            <select name="brand_id" class="focus:shadow-outline w-full rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none" id="brand">-->
        <!--                {% for brand in brands %}-->
        <!--                    {% if bike.brand_id == brand.id %}-->
        <!--                        <option selected value="{{ brand.id }}">{{ brand.name }}</option>-->
        <!--                    {% else %}-->
        <!--                        <option value="{{ brand.id }}">{{ brand.name }}</option>-->
        <!--                    {% endif %}-->
        <!--                {% endfor %}-->
        <!--            </select>-->
        <!--        </div>-->

        <div class="mb-4">
            <label class="mb-2 block text-sm font-bold text-gray-300" for="model"> Model </label>
            <select name="model_id"
                    class="focus:shadow-outline w-full rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
                    id="model">
                {% for model in models %}
                <option value="{{ model.id }}" {% if model.id== bike.model_id %}selected{% endif %}>
                    {{ model.brand_name }} - {{ model.name }}
                </option>
                {% endfor %}
            </select>
        </div>


        <div class="mb-4">
            <label class="mb-2 block text-sm font-bold text-gray-300" for="description"> Description </label>
            <textarea name="description"
                      class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
                      id="description">{{ bike.description }}</textarea>
        </div>

        <div class="flex justify-end">
            <button hx-target="#content-area" hx-target-error="#content-area"
                    class="focus:shadow-outline rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:outline-none"
                    type="submit">
                Uložiť
            </button>
        </div>
    </form>
</div>
