<!DOCTYPE html>
<html lang="sk">
{% include "header.html" %}
<body class="h-screen flex justify-center items-center ">
    <div id="generic-error" class="w-full h-full flex justify-center items-center">
        <div class="bg-gray-800 shadow-lg border border-gray-800 rounded-lg p-5 flex flex-col items-center">
            <h2 class="text-white text-2xl mb-6">Error</h2>
            <div id="generic-error-area" class="text-white mb-3">
                <p> {{ code }} </p>
                <p>{{ description }}</p>
            </div>

            <p class="text-white">Please, return to <a href="/" class="text-blue-600 hover:text-blue-400"> homepage</a></p>
        </div>
    </div>
</body>
</html>