<a href="/bike" class="absolute top-0 left-10 mt-24 ml-8 bg-amber-500 hover:bg-amber-600 text-white font-bold py-2 px-3 rounded focus:outline-none focus:shadow-outline flex items-center">
    <i class="fas fa-arrow-left mr-2"></i>
</a>

<div class="max-w-7xl mx-auto px-4 sm:px-8 py-10">

    <div class="text-center md:text-left grid grid-cols-1 lg:grid-cols-2 gap-10">
        <!-- Top Section: Thumbnail and Basic Details -->
        <div class="flex flex-col space-y-6">
            <h1 class="text-3xl md:text-5xl font-bold text-gray-800 mb-0">{{ brand.name }}</h1>
            {% if logged_in %}
            <div class="flex space-x-4 justify-center md:justify-start ">
                    <button hx-get="/brand/{{ brand.id }}/edit" hx-target-error="#content-area"
                            hx-push-url="/brand/{{ brand.id }}/edit" hx-target="#content-area"
                            class="bg-amber-500 hover:bg-amber-600 rounded-md p-3 text-white text-lg shadow-md w-12">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button hx-delete="/brand/{{ brand.id }}/delete" hx-target-error="#content-area" hx-target="#content-area" hx-push-url="/brand"
                            class="bg-red-800 hover:bg-red-900 rounded-md p-3 text-white text-lg shadow-md w-12">
                        <i class="fa-solid fa-trash"></i>
                    </button>
            </div>
            {% endif %}
        </div>
    </div>
        <!-- Description Section -->
        <div class="mt-10 text-center md:text-left">
            <h2 class="text-2xl text-gray-800 font-bold mb-4">Description</h2>
            <div class="bg-gray-50 p-5 rounded-lg shadow-md text-gray-700">
                {{ brand.description | safe }}
            </div>
        </div>
</div>


<div class="max-w-7xl mx-auto px-4 sm:px-8 mt-10 text-center md:text-left">
    <h3 class="text-3xl font-bold text-gray-800 mb-4">Models</h3>
    <div class="bg-gray-50 rounded-lg p-6 shadow-md">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-6">
            {% for model in models %}
            {% include "model/card/content.html"%}
            {% endfor %}
        </div>
    </div>
</div>


